<?xml version="1.0" encoding="UTF-8"?>
<beans
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                      http://xmlns.jcp.org/xml/ns/javaee/beans_1_1.xsd"
        version="1.1" bean-discovery-mode="annotated">

    <alternatives>
<!--         <class>com.github.juliakas.persistence.EmployeesDAOTest</class>-->
        <class>com.github.juliakas.persistence.ResourcesSecondary</class>
    </alternatives>
    <interceptors>
<!--        <class>com.github.juliakas.interceptors.LoggerInterceptor</class>-->
    </interceptors>
    <decorators>
<!--        <class>com.github.juliakas.interceptors.EmployeesFilterFilter</class>-->
    </decorators>

</beans>